[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hexDensity"]
	path = hexDensity
	url = https://github.com/chenlaboratory/hexdensity
